{%extends 'base.html' %}

{% block content%}
<div class="flex justify-center">
<playlist-component></playlist-component>
</div>
<div class="flex justify-center">
<sound-component file="public/rain.mp3" icon="/images/rain" label="rain"></sound-component>
<sound-component file="public/fire.mp3" icon="/images/campfire" label="fire"></sound-component>
<sound-component file="public/cicada.mp3" icon="/images/cicada" label="cicada"></sound-component>
</div>
<div class="flex justify-center">
<sound-component file="public/night.mp3" icon="/images/night" label="night"></sound-component>
<sound-component file="public/ocean.mp3" icon="/images/ocean" label="ocean"></sound-component>
<sound-component file="public/thunder.mp3" icon="/images/thunder" label="thunder"></sound-component>
</div>
<div class="flex justify-center">
<sound-component file="public/car-rain.mp3" icon="/images/car-rain" label="car-rain"></sound-component>
<sound-component file="public/farm.mp3" icon="/images/farm" label="farm"></sound-component>
<sound-component file="public/car.mp3" icon="/images/car" label="car"></sound-component>
</div>
<div class="flex justify-center">
<sound-component file="public/bird.mp3" icon="/images/bird" label="bird"></sound-component>
<sound-component file="public/lawnmower.mp3" icon="/images/lawnmower" label="lawnmower"></sound-component>
<sound-component file="public/air-conditioner.mp3" icon="/images/air-conditioner" label="air-conditioner"></sound-component>
</div>
<div class="flex justify-center">
<sound-component file="public/blaze.mp3" icon="/images/blaze" label="blaze"></sound-component>
<sound-component file="public/heartbeat.mp3" icon="/images/heartbeat" label="heartbeat"></sound-component>
<sound-component file="public/train.mp3" icon="/images/train" label="train"></sound-component>
</div>
<div class="flex justify-center">
<sound-component file="public/jazz.mp3" icon="/images/jazz" label="jazz"></sound-component>
<sound-component file="public/cafe.mp3" icon="/images/cafe" label="cafe"></sound-component>
</div>
{% endblock %}