{%extends 'base.html' %}

{% block content%}
<div class="flex justify-center">
<sound-component file="public/rain.mp3" icon="/images/rain" label="Play Rain"></sound-component>
<sound-component file="public/fire.mp3" icon="/images/campfire" label="Play Fire"></sound-component>
<sound-component file="public/cicada.mp3" icon="/images/cicada" label="Play Fire"></sound-component>
</div>
<div class="flex justify-center">
<sound-component file="public/night.mp3" icon="/images/night" label="Play Night"></sound-component>
<sound-component file="public/ocean.mp3" icon="/images/ocean" label="Play Ocean"></sound-component>
<sound-component file="public/thunder.mp3" icon="/images/thunder" label="Play Thunder"></sound-component>
</div>
<div class="flex justify-center">
<sound-component file="public/car-rain.mp3" icon="/images/car-rain" label="Play Night"></sound-component>
</div>
{% endblock %}